/* Media Query css */
@media (min-width: 320px) and (max-width: 991px) {
  .navbar-brand {
	  width: 75% !important;
  }
  .media-drop-2 {
    width: 150%;
    top: 110% !important;
    left: -67px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
   .media-drop {
    width: 150%;
	height: 215px;
    top: 108% !important;
    left: 0px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
   .drop-search {
    width: 500%;
    top: 115% !important;
    left: -11px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
  .bg-img-first {
      border-radius: 0px 0 0 0px !important;
	  height: 665px !important;
  }
  .scanner-img {
	  top: 0px !important;
   }
   .table-text-media {
	  font-size: 13px !important;
   }
	.client-btn {
	  width: 100% !important;
   }
   .link-text {
	  font-size: 2vh !important;
   }
   .label-text {
	  font-size: 3vh !important;   
   }
   .slider-paragraph {
	  font-size: 2.6vw !important;
   }
   .gen-link-btn {
	   font-size: 20px !important;
   }
   .condition-item {
	top: 305px !important;
	width: 100%;
    margin-left: 0 !important;
   }
}
@media (min-width: 320px) and (max-width: 768px) {
   .bg-ligh-bue {
	   background-color: #EBF9FF;
	   width: 100%;
       height: 397% !important;
       background-size: auto;
   }
   .or-line-media {
	   padding-left: 15% !important;
   }
   .offer-media {
	   font-size: 3vh !important;
   }
   .offer-img-media {
	   width:  20px !important;
	   margin-top: -6px !important;
   }
   .offer-img-media-2 {
	   width:  12px !important;
	   margin-top: -6px !important;
   }
   .count-media {
	   text-align: center !important;
   }
   .accor-btn h2 {
	   font-size: 3vh !important;
   }
   .condition-box-media {
	   text-align: left !important;
   }
   .free-boat-right-box {
	   background-color: #F1FBFF;
   }
   .my-special-text {
	   font-size: 4vw !important;
   }
   .detail-text {
	   font-size: 5vw !important;
   }
   .lorem-text {
	   font-size: 3vw !important;
   }
   .barcode-text {
	   font-size: 4vw !important;
	   left: 13% !important;
   }
   .row-media-2 {
       height: 22% !important;
   }
   .row-media-3 {
       height: 63% !important;
   }
   .row-media-4 {
       height: 67% !important;
   }
   .media-float {
	   float: right !important;
   }
   .icon-media {
	   width: 30px !important;
   }
   .icon-text {
	   font-size: 3vh !important;
   }
   .get-text {
	   font-size: 5vh !important;
   }
   .send-text {
	   font-size: 4.5vh !important;
   }
   .right-box {
	   /*height: 540px !important;*/
   }
   .des-text {
       font-size: 3vh !important;
   }
   .grad-text {
       font-size: 2.2vh !important;
   }
   .metasur-text {
       font-size: 3.7vw !important;
   }
   .slider-heading {
       font-size: 7vw !important;
   }
   .help-text {
	   font-size: 6vw !important;
   }
   .help-paragraph {
	   font-size: 2.5vh !important;
   }
   .accor-text {
	   font-size: 4vw !important;
   }
   .booking-btn {
	   font-size: 3vh !important;
   }
   .site-btn {
	   font-size: 3vh !important;
   }
   .booking-btn {
	   width: 100%;
   }
   .site-btn {
	   width: 100%;
   }
}
@media (min-width: 320px) and (max-width: 767px) {
   .col-width-3 {
       display: none !important;
   }
   .col-width-1 {
       display: none !important;
   }
}
@media (min-width: 320px) and (max-width: 380px) {
	.media-font {
	   font-size: 14px !important;
    }
	.accor-media {
       width: 89.666667% !important;
    }
	.pay-text-sec {
		font-size: 6vw !important;
	}
	.thanks-paragraph {
		font-size: 4vw !important;
	}
	.expired-paragraph {
		font-size: 5vw !important;
	}
}
@media (min-width: 320px) and (max-width: 486px) {
	.bg-img-first h1 {
	    font-size: 6vh;
	}
	.left-arrow-img {
	    width: 18px !important;
	}
	.left-arrow-img-2 {
		width: 4% !important;
	}
	.future-btn {
	    font-size: 2.8vh !important;
	    width: 100%;
    }
    .used-btn {
        font-size: 2.8vh !important;
	    width: 100%;
    }
	.offer-media-2 {
		font-size: 3vw !important;
	}
}
@media (min-width: 320px) and (max-width: 661px) {
	.future-btn {
	    font-size: 2.8vh !important;
	    width: 100%;
    }
    .used-btn {
        font-size: 2.8vh !important;
	    width: 100%;
    }
	.pay-text {
		font-size: 9vh !important;
        top: 12px !important;
        left: 7px !important;
	}
	.free-boat-text {
		font-size: 8vw !important;
		top: 8px !important;
        left: 7px !important;
	}
	.my-sales-text {
		font-size: 8vw !important;
		top: 8px !important;
        left: 7px !important;
	}
	.amount-text {
		font-size: 6vw !important;
		top: 8px !important;
        left: 7px !important;
	}
}
@media (min-width: 320px) and (max-width: 346px) {
	.whatsapp-btn {
		font-size: 14px !important;
	}
   
}
@media (min-width: 346px) and (max-width: 435px) {
	.whatsapp-btn {
		font-size: 3vh !important;
	}
}
@media (min-width: 991px) and (max-width: 1200px) {
	.bg-img-first {
      border-radius: 0px 0 0 0px !important;
	  height: 645px !important;
    }
	.condition-item {
	top: 205px !important;
	width: 100%;
    margin-left: 0 !important;
}
	.price {
	    font-size: 3vh !important;
   }
   .bg-ligh-bue {
	    background-color: #EBF9FF;
	    width: 100%;
        height: 895px !important;
        background-size: auto;
   }
   .or-line-media {
	    padding-left: 16% !important;
   }
   .col-media-2 {
	    width: 100% !important;
	    text-align: start !important;
   }
   .media-box {
	    width: 22px !important;
   }
   .hours-text {
        padding-right: 62% !important;
   }
   .media-text {
	   font-size: 9vh !important;
   }
   .offer-media {
	   font-size: 3vh !important;
   }
   .offer-media-2 {
	   font-size: 3vh !important;
	}
   .offer-img-media {
	   width:  20px !important;
	   margin-top: -1px !important;
   }
   .offer-img-media-2 {
	   width:  14px !important;
	   margin-top: -1px !important;
   }
   .scanner-img {
	   top: 0px !important;
   }
   .link-text {
	   font-size: 2vh !important;
   }
   .barcode {
       top: -138px !important;
       max-height: 105px !important;
       max-width: 185px !important;
    }
	.scanner-sec {
       height: 245px !important;
    }
   .success-section {
       top: -95px !important;
    }
	.row-media-2 {
       height: 13% !important;
   }
   .redeem-text {
       width: 70% !important;
       font-size: 1.4vw !important;
       top: 20px !important;
    }
	.max-w-275 {
	   max-width: 85% !important;
	}
	.pur-date-text {
	   font-size: 1.7vw !Important;
   }
   .exp-date-text {
	   font-size: 1.7vw !Important;
   }
   .icon-media {
	   width: 30px !important;
   }
   .icon-text {
	   font-size: 3vh !important;
	   margin-left: 8px;
   }
   .send-text {
	   font-size: 4.5vh !important;
   }
   .slider-paragraph {
	   font-size: 2.1vw !important;
   }
   .slider-heading {
	   font-size: 4vw !important;
   }
   .line-ten {
       margin: 0rem 100px !important;
   }
   .line-eve {
       margin: 0rem -26px !important;
   }
   .carousel-control-next-icon, .carousel-control-prev-icon {
       height: 3rem !important;   
   }
   .accor-text {
       font-size: 1.8vw !important;
   }
   .booking-btn {
	   font-size: 2.4vh !important;
   }
   .site-btn {
	   font-size: 2.4vh !important;
   }
   .booking-btn {
	   width: 100%;
   }
   .site-btn {
	   width: 100%;
   }
   .get-text {
	   font-size: 5vh !important;
   }
   .media-drop-2 {
    width: 150%;
    top: 110% !important;
    left: -67px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
   .media-drop {
    width: 150%;
	height: 215px;
    top: 108% !important;
    left: 0px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
}
@media (min-width: 768px) and (max-width: 1200px) {
	.row-media {
	   display: block !important;
       text-align: center !important;
	}
	.w-media {
	   width: 100% !important;
	}
	.date-text {
	   font-size: 2.1vh !important;
	}
	.btn-text {
       font-size: 3vh !important;
    }
	.date-img {
	   width: 30px !important;
	}
	.my-special-text {
	   font-size: 3vw !important;
   }
   .scanner-img {
	   top: -95px !important;
   }
   .barcode-text {
	   font-size: 1vw !important;
	   left: 13% !important;
   }
   .voucher-charged {
	   font-size: 1vw !important;
   }
   .barcode-text-2 {
       top: 60px !important;
       left: 43% !important;
   }
   .card-text {
	   font-size: 2vw !important;
   }
   .more-btn {
	   font-size: 2vw !important;
   }
   .card-bg {
       border-radius: 40px !important;
   }
   .line-eig {
       margin: 0rem -2rem !important;
   }
   .des-text {
       font-size: 3vh !important;
   }
   .grad-text {
       font-size: 1.3vw !important;
   }
   .metasur-text {
       font-size: 3.7vw !important;
   }
   .help-text {
       font-size: 3.5vw !important;
   }
   .help-paragraph {
	   font-size: 2vw !important;
   }
}
@media (min-width: 450px) and (max-width: 768px) {
   .col-media {
	   width: 50% !important;
   }
   .col-media-2 {
	   width: 50% !important;
   }
   .redeem-text {
       width: 94% !important;
       font-size: 5vw !important;
       top: 20px !important;
   }
   .carousel-control-next-icon, .carousel-control-prev-icon {
       height: 3rem !important;   
   }
}
@media (min-width: 653px) and (max-width: 768px) {
   .hours-text {
	   padding-left: 72% !important;
   }
   .media-box {
	   width: 20px !important;
   }
   .media-box-2 {
	   width: 55px !important;
   }
}
@media (min-width: 550px) and (max-width: 653px) {
   .hours-text {
		padding-left: 67% !important;
   }
   .media-box {
	    width: 20px !important;
   }
   .media-box-2 {
	    width: 55px !important;
   }
}
@media (min-width: 450px) and (max-width: 767px) {
    .barcode-text-2 {
           top: 78px !important;
           left: 48% !important;
    }
}
@media (min-width: 450px) and (max-width: 550px) {
	.hours-text {
		padding-left: 58% !important;
	}
	.media-box {
	   width: 20px !important;
   }
   .media-box-2 {
	   width: 55px !important;
   }
}
@media (min-width: 450px) and (max-width: 561px) {
	.free-text {
		font-size: 4vw !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.bg-ligh-bue {
	background-color: #EBF9FF;
	width: 100%;
    height: 2612px !important;
    background-size: auto;
   }
    .or-line-media {
	   padding-left: 18% !important;
   }
   .hours-text {
		padding-left: 77% !important;
	}
	.media-box {
	   width: 20px !important;
   }
   .media-box-2 {
	   width: 55px !important;
   }
   .offer-media {
	   font-size: 2vh !important;
   }
   .offer-media-2 {
		font-size: 2vh !important;
	}
   .offer-img-media {
	   width:  20px !important;
	   margin-top: -1px !important;
   }
   .offer-img-media-2 {
	   width:  15px !important;
	   margin-top: -1px !important;
   }
   .free-boat-right-box {
	   background-color: #F1FBFF;
    }
	.barcode {
       top: -135px !important;
       max-height: 100px !important;
       max-width: 135px !important;
   }
   .success-section {
       top: -90px !important;
   }
   .scanner-sec {
       height: 245px !important;
   }
   .row-media-2 {
       height: 8% !important;
   }
   .row-media-3 {
    height: 56% !important;
   }
   .row-media-4 {
    height: 57% !important;
   }
   .redeem-text {
    width: 77% !important;
    font-size: 1.5vw !important;
    top: 20px !important;
   }
	.condition-box-media {
	   text-align: center !important;
   }
   .pur-date-text {
	   font-size: 1.7vw !Important;
   }
   .exp-date-text {
	   font-size: 1.7vw !Important;
   }
   .media-float {
	   float: none !important;
   }
   .icon-media {
	   width: 30px !important;
   }
   .icon-text {
	   font-size: 3vh !important;
	   margin-left: 8px;
   }
   .send-text {
	   font-size: 4.5vh !important;
   }
   .line-ten {
      margin: 0rem 50px !important;
   }
   .line-eve {
      margin: 0rem -25px !important;
   }
   .accor-text {
      font-size: 1.7vw !important;
   }
   .booking-btn {
	   font-size: 2.4vh !important;
   }
   .site-btn {
	   font-size: 2.4vh !important;
   }
   .booking-btn {
	   width: 100%;
   }
   .site-btn {
	   width: 100%;
   }
   .get-text {
	   font-size: 5vh !important;
   }
}
@media (min-width: 991px) {
  
}
@media (max-width: 991px) {
  
}
@media (max-width: 1050px) {
     .client-btn {
     	   width: 100% !important;
        }
}
@media (min-width: 1050px) and (max-width: 1200px) {
     .line-ten {
      margin: 0rem 120px !important;
     }
	 .line-eve {
      margin: 0rem -16px !important;
     }
	 .drop-search {
    width: 500%;
    top: 115% !important;
    left: -269px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
   .gen-link-btn {
	   font-size: 19px !important;
   }
}
@media (min-width: 991px) and (max-width: 1050px) {
     .drop-search {
    width: 500%;
    top: 115% !important;
    left: -11px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
   .gen-link-btn {
	   font-size: 13px !important;
   }
}
@media (min-width: 1200px) {
  .count-width {
	width: 50px !important;
  }
  .free-boat-thumnail {
	border-radius: 15px !important;
   }
   .scanner-img {
	   height: 425px;
   }
   .row-media-2 {
	   height: 13%;
   }
   .col-width-1 {
    width: 12.333333% !important;
   }
   .redeem-text {
	width: 323px;
	top: 20px;
	font-size: 25px;
   }
   .sub-btn {
	   font-size: 27px !important;
   }
   .carousel-control-next-icon, .carousel-control-prev-icon {
    height: 3rem !important;   
   }
   .max-h-475 {
	   max-height: 475px;
   }
   .accor-btn-sec {
	   padding-right: 3rem!important;
       padding-left: 3rem!important;
   }
   .booking-btn {
	   width: 100%;
   }
   .site-btn {
	   width: 100%;
   }
   .btn-box-media {
	   padding: 0 3rem;
   }
   .co-expired-2 {
       flex: 0 0 auto;
       width: 33.33% !important;
   }
   .co-expired-1 {
       flex: 0 0 auto;
       width: 33.33333% !important;
   }
   .media-drop-2 {
    width: 150%;
    top: 110% !important;
    left: -67px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
   .media-drop {
    width: 150%;
	height: 215px;
    top: 108% !important;
    left: -109px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
   .drop-search {
    width: 500%;
    top: 115% !important;
    left: -265px !important;
    margin-top: var(--bs-dropdown-spacer);
   }
}
@media (min-width: 320px) and (max-width: 450px) {
	.hero-media-h {
		font-size: 7vh !important;
	}
	.hero-media-p {
		font-size: 3vh !important;
	}
	.media {
		text-align: center !important;
	}
	.media-3 {
		text-align: start !important;
	}
	.media-2 {
		text-align: center !important;
	}
	.input-field {
		margin: 0 !important;
	}
	.hours-text {
		padding-right: 38% !important;
	}
	.media-box {
	   width: 20px !important;
   }
   .media-box-2 {
	   width: 55px !important;
   }
   .free-text {
		font-size: 6vw !important;
   }
   .redeem-text {
    width: 85% !important;
    font-size: 5vw !important;
    top: 20px !important;
   }
}
@media (min-width: 320px) and (max-width: 575px) {
	.copy-btn {
		text-align: start !important;
	}
}

@media (min-width: 320px) and (max-width: 400px) {
	.icon-media-sec {
		width: 40px !important;
        padding: 0px 5px 0px 16px !important
	}
	.line-eig {
        margin: 0rem 50px !important;
    }
	.line-ten {
        margin: 0rem 11px !important;
    }
	.line-eve {
        margin: 0rem -26px !important;
    }
}
@media (min-width: 400px) and (max-width: 475px) {
	.col-icon {
		margin-left: -22px !important;
	}
	.icon-media-sec {
		width: 40px !important;
        padding: 0px 5px 0px 16px !important
	}
	.line-eig {
        margin: 0rem 75px !important;
    }
	.line-ten {
        margin: 0rem 15px !important;
    }
	.line-eve {
        margin: 0rem -20px !important;
    }
}
@media (min-width: 475px) and (max-width: 550px) {
	.col-icon {
		margin-left: -26px !important;
	}
	.icon-media-sec {
		width: 40px !important;
        padding: 0px 5px 0px 16px !important
	}
	.line-eig {
        margin: 0rem 100px !important;
    }
	.line-ten {
        margin: 0rem 30px !important;
    }
	.line-eve {
        margin: 0rem -10px !important;
    }
}
@media (min-width: 550px) and (max-width: 575px) {
	.col-icon {
		margin-left: -45px !important;
	}
	.icon-media-sec {
		width: 40px !important;
        padding: 0px 5px 0px 16px !important
	}
	.line-eig {
        margin: 0rem 125px !important;
    }
	.line-ten {
        margin: 0rem 35px !important;
    }
	.line-eve {
        margin: 0rem 4px !important;
    }
}
@media (min-width: 575px) and (max-width: 767px) {
	.col-icon {
		margin-left: -45px !important;
	}
	.icon-media-sec {
		width: 40px !important;
        padding: 0px 5px 0px 16px !important
	}
	.line-eig {
        margin: 0rem 0px !important;
    }
	.line-ten {
        margin: 0rem 35px !important;
    }
	.line-eve {
        margin: 0rem 0px !important;
    }
}


/* Font Size css */
.fw-600 {
	font-weight: 600 !important;
}
.fw-500 {
	font-weight: 500 !important;
}


/* Font Size css */
.fs-14 {
	font-size: 14px !important;
}
.fs-15 {
	font-size: 15px;
}
.fs-58 {
    font-size: 58px;
}
.fs-21 {
    font-size: 21px;
}
.fs-20 {
    font-size: 20px;
}
.fs-25 {
    font-size: 25px !important;
}
.fs-24 {
    font-size: 24px;
}
.fs-27 {
    font-size: 27px;
}
.fs-12 {
	font-size: 12px;
}
.fs-50 {
	font-size: 50px;
}
.fs-40 {
	font-size: 40px;
}
.fs-90 {
	font-size: 90px;
}
.fs-22 {
	font-size: 22px;
}
.fs-30 {
	font-size: 30px;
}


/* Padding css */
.pt-14 {
	padding-top: 14rem;
}
.ps-7 {
	padding-left: 7rem;
}
.pb-12 {
	padding-bottom: 12rem !important;
}
.pb-6 {
    padding-bottom: 5rem;
}


/* Font Family css */
.f-roboto {
	/* font-family: roboto !important; */
}
.f-poppins {
	/* font-family: poppins !important; */
}
.f-Moderno {
	/* font-family: MuseoModerno !important; */
}
.f-nunito {
	/* font-family: nunito sans !important; */
}
.f-Playfair {
	/* font-family: Playfair Display !important; */
}
.f-Mulish {
	/* font-family: Mulish !important; */
}
.f-Readex {
	/* font-family: Readex Pro !important; */
}
.f-livvic {
	/* font-family: livvic !important; */
}
.f-lora {
	/* font-family: lora !important; */
}
.f-literata {
	/* font-family: Literata !important; */
}
.f-rubik {
	font-family: rubik !important;
}


/* Background color css */
.bg-orange {
	background-color: #FF9A00;
}
.btn-bg {
	background-color: #00404E !important;
	color: white !important;
}
.btn-bg-2 {
	background-color: #00B5DC !important;
	color: white !important;
}
#hero-bg {
    background-image: url(../images/hero_bg.png);
    width: 100%;
    height: 792px;
    background-size: auto;
}
#credit-bg {
    background-image: url(../images/credit_bg_img.png);
    width: 100%;
    height: 385px;
    background-size: auto;
}
#contact-us-bg {
    background-image: url(../images/contact_us_bg_img.png);
    width: 100%;
    height: 500px;
    background-size: auto;
}
#destination-bg {
    background-image: url(../images/destination_bg_img.png);
    width: 100%;
    height: 500px;
    background-size: cover;
}
#about-us-bg {
    background-image: url(../images/about_us_bg_img.png);
    width: 100%;
    height: 400px;
    background-size: cover;
}
#faq-bg {
    background-image: url(../images/faq_bg_img.png);
    width: 100%;
    height: 500px;
    background-size: cover;
}
#sky-bg {
    background-color: #F0FCFF;
    width: 100%;
}
#voucher-bg {
    background-image: url(../images/voucher_bg_img.png);
    width: 100%;
    height: 500px;
    background-size: auto;
}
#voucher-datails-bg {
    background-image: url(../images/voucher_detail_bg_img.png);
    width: 100%;
    height: 500px;
    background-size: auto;
}
#success-bg {
    background-image: url(../images/success_bg_img.png);
    width: 100%;
    height: 500px;
    background-size: auto;
}
#sales-bg {
    background-image: url(../images/my_sales_bg_img.png);
    width: 100%;
    height: 500px;
    background-size: auto;
}
.bg-ligh-bue {
	background-color: #EBF9FF;
	width: 100%;
    height: 950px;
    background-size: auto;
}
.bg-img-first { 
	background-image: url(../images/vacationing.png);
	width: 100%;
    height: 100%;
    background-size: cover;
	border-radius: 20px 0 0 20px;
}


/* Nav css */
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: transparent !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: #0486A3 !important;
}

.arrow::after {
	display: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #0486A3 !important;
}

/* Hero Section css */
.hero-paragraph {
	font-size: 34px;
    font-weight: 600;
}
.hero-btn {
	background: #00B5DC !important;
    border: #00B5DC !important;
}
.content-box {
	top: -120px;
}
.blue-box {
	background: #D7F8FF;
    padding: 7rem;
}
.price {
	color: #00B5DC;
}
.time {
	color: #00B5DC;
	padding-right: 6px;
}
.card-box {
	top: -75px;
}
.align-end {
	text-align: end;
}
.special-position {
	top: -195px;
}


/* Welcome Back section css */
.condition-item {
	top: 315px;
	width: 100%;
    margin-left: 0 !important;
}
.btn-green {
	background-color: #25D366 !important;
}
.or-text {
	color: #00404E !important;
}
.form-control:focus {
    box-shadow: 0 0 0 0 rgba(13,110,253,.25) !important;
}
.box-light {
	box-shadow: 0px 0px 15px 4px #d7eaed;
	border-radius: 20px 20px 20px 20px;
}
.fs-65 {
	font-size: 65px;
}
.input-field {
	margin: 0.5rem;
	width: 50px !important;
    height: 50px !important;
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: white !important;
    background-color: #FF9A00 !important;
}


/* categories section css */
.text-blue {
	color: #007BFF;
}
.text-sky {
	color: #00B5DC !important;
}
.text-sky-2 {
	color: #009CBE !important;
}
.dark-blue {
	color: #00404E !important;
}
.dark-blue-2 {
	color: #00576A !important;
}
.dark-blue-3 {
	color: #00404F !important;
}
.dark-blue-4 {
	color: #005B70 !important;
}
.list-group {
	--bs-list-group-bg: transparent !important;
    --bs-list-group-border-width: none !important;
}
.border-orange:checked {
    background-color: #FF9A00 !important;
    border: 3px solid #FF9A00 !important;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0 rgba(13,110,253,.25) !important;
}
.border-orange {
    background-image: none !important;
}
.text-orange {
	color: #FF9A00;
}
.border-orange {
	border: 3px solid #FF9A00 !important;
}
.box-light-2 {
	box-shadow: 0px 0px 6px 3px #d7eaed;
	border-radius: 20px 20px 20px 20px;
}
.media-box {
	float:right;
}
.media-box-2 {
   float:right;
}


/* Details section css */

/*.mx-h-175 {
	max-height: 175px;
}*/
.condition-box-bg {
	background-color: #EEFAFF;
}
.accor-btn {
    background-color: #EEFAFF !important;
    border-radius: 8px !important;
	/*font-size: 27px !important;*/
    font-weight: 500 !important;
}
.accordion-collapse {
    background-color: #EEFAFF !important;
}
.accor-btn::after {
    background-image: url("../images/down_arrow_icon.png") !important;
	margin-top: 5px !important;
}
.accor-btn:focus {
    box-shadow: none !important;
}
.date-img {
	background-color: white;
    padding: 6px;
    border: 1px solid #025769;
    border-radius: 0px 7px 7px 0px;
    border-left: 0;
}
.date-text {
	border: 1px solid #025769  !important;
    border-radius: 7px 0px 0px 7px !important;
    border-right: 0 !important;
}
.align-center {
	text-align: center;
}
.free-boat-right-box {
	background-color: #F1FBFF;
}


/* Payment Section css */

.pay-text {
	position: relative;
    top: 15px;
    left: 25px;
}
.border-blue {
	border: 1px solid #00B5DC !important;
}
.light-blue-bg {
	background-color: #EEFAFF !important;
}
.dark-blue-bg {
	background-color: #00B5DC !important;
}
.bg-gray {
	background-color: #F0F0F0;
}


/* Vouchcer Section css */

.voucher-text {
	padding-top: 12rem;
}
.future-btn {
	color: #025769;
	background-color: #bfecf6;
}
.used-btn {
	color: #025769;
	background-color: #bfecf6;
}
.drop-toggle-2::after {
	float: inline-end;
	display: none !important;
}

/* Redeem Voucher section css */

.scanner-img {
	top: -145px;
}
.my-special-text {
	color: #003541;
}
.text-date {
	color: #006980;
}

/* Success section css */

.table {
    --bs-table-bg: #e6f8fc !important;
	border: 10px solid #e6f8fc !important;
}
tbody, td, tfoot, th, thead, tr {
    border-width: 10px !important;
}
.text-green {
	color: #22BB33 !important;
}
.text-red {
	color: #E57373 !important;
}
.text-red-sec {
	color: #B40000 !important;
}
.scanner-sec {
	height: 350px;
}
.barcode-text {
	top: 28px;
	left: 46px;
}
.barcode-text-2 {
	top: 70px;
    left: 45%;
}
.barcode {
	top: -225px;
    max-height: 185px;
    max-width: 200px;
}
.success-section {
    position: relative;
    top: -150px;
}
.box-light-3 {
    box-shadow: 0px 0px 1px 2px #d7eaed;
}



/* My Sales section css */
.client-btn {
	   width: 50%;
   }
.table>tbody {
    vertical-align: middle !important;
}

/* Contact Us Section css */

.contact-text {
	padding-top: 8rem;
}
.border-inner {
    border: 8px solid #DEF9FF !important;
}
.right-box {
    background-color: #DEF9FF;
    border-radius: 30% 0 0 30%;
    border-left: 8px solid #c8edf4;
	/*height: 732px;*/
}

/* Destination Section css */

.card-text {
	color: #005B6F;
}
.more-btn {
	color: #4D767E;
}
.card-bg {
	background-color: #F0FCFF !important;
    border-radius: 45px !important;
    border-top: 8px solid #00B5DC !important;
    border-bottom: 4px solid #e2e8ea !important;
}
.grad1 {
  height: 4px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #FFFFFF, #EBE7E7, #B7BAB7, #757575, #303738, #303738);
}
.grad2 {
  height: 4px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #303738, #303738, #757575, #B7BAB7, #EBE7E7, #FFFFFF);
}

/* About Us Section css */

.carousel-control-prev-icon {
    background-image: url(../images/arrow_left_icon.png) !important;
}
.carousel-control-next-icon {
    background-image: url(../images/arrow_right_icon.png) !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 5% !important;
    opacity: 1 !important;
}

/*  FAQ Section css */

.grad3 {
    height: 4px;
    background-color: red;
    background-image: linear-gradient(to right, #084e60, #084e60, #2f5a66, #B7BAB7, #EBE7E7, #FFFFFF);
}
.grad4 {
    height: 4px;
    background-color: red;
    background-image: linear-gradient(to right, #FFFFFF, #EBE7E7, #B7BAB7, #B7BAB7, #3f484d, #3f484d);
}
.accor-box {
    --bs-accordion-btn-icon: none !important;
}
.accor-border {
	border: 1px solid !important;
}
.accor-btn-sec:focus {
    box-shadow: none !important;
}
.accor-btn-sec:not(.collapsed) {
    background-color: transparent !important;
}
.accor-btn-sec:not(.collapsed)::after {
    background-image: none !important;
}
.accordion {
    --bs-accordion-border-color: white !important;
}
.accor-text {
	color: #013743;
}

/* Expired Section css */

.cancel-btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    /* font-family: var(--bs-btn-font-family); */
    font-size: 20px;
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: 0;
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#expired-bg {
    background-image: url(../images/expired_bg_img.png);
    width: 100%;
    background-size: cover;
}


/* Payment Success section css */

.right-box-sec {
    background-color: #afe9f6;
    border-radius: 0 0 0 30%;
}
.amount-text {
	color: #003541;
}
.bg-inner {
    background-color: #EAFBFF;
}
.booking-btn {
	border: 1.8px solid #00B5DC;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: 23px;
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.site-btn {
	border: 1.8px solid #00B5DC;
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: 23px;
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #00B5DC;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.word-wrap {
	word-wrap: break-word;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p  {
	word-wrap: break-word;
}



.dropdown {
	list-style: none;
}


/* Line css */

.line {
    margin-left: -1rem !important;
    color: #00B5DC !important;
    width: 200px;
    border: 0;
    border-radius: 0 7px 7px 0px;
    border-top: 12px solid !important;
    opacity: 1 !important;
}
.line-sec {
	margin: 12px 0;
    color: #00404E !important;
    border: 0;
    border-top: 3px solid !important;
    opacity: 0.7 !important;
	width: 36%;
}
.line-thir {
	margin: 12px 0;
    color: #00404E !important;
    border: 0;
    border-top: 3px solid !important;
    opacity: 0.7 !important;
	width: 36%;
}
.line-four {
    color: #00B5DC !important;
    border: 0;
    border-top: 5px solid !important;
    opacity: 0.7 !important;
}
.line-fiv {
    color: #D2F2FF !important;
    width: 77%;
    border: 0;
    border-radius: 0 7px 7px 0px;
    border-top: 12px solid !important;
    opacity: 1 !important;
}
.line-six {
    color: #D2F2FF !important;
    width: 50%;
    border: 0;
    border-radius: 0 7px 7px 0px;
    border-top: 12px solid !important;
    opacity: 1 !important;
}
.line-sev {
    color: #D2F2FF !important;
    border: 0;
    border-radius: 7px 0px 0px 7px;
    border-top: 12px solid !important;
    opacity: 1 !important;
}
.line-eig {
    margin: 0rem -1rem;
    border: 1px solid;
	color: inherit;
	opacity: .25;
}
.line-nine {
    margin-left: 0rem;
    color: #fff;
    border: 0;
    border-top: 4px solid;
    opacity: 1;
}
.line-ten {
    margin: 0px 12rem;
    border: 5px solid white;
}
.line-eve {
    color: #0093B4;
    border: 0;
    border-top: 3px solid !important;
    opacity: 1 !important;
}








.search-input {
	background-color: transparent !important;
    border: aliceblue !important;
    color: white !important;
	border-bottom: 1px solid white !important;
    border-radius: 0 !important;
    opacity: .75;
}
.search-input::placeholder {
  color: #CECECE !important;
}
.gen-link-btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-size: 20px;
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}